@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

.bg-background {
    background-color: rgba(252, 251, 250) !important;
}

.font {
    font-family: 'LXGW WenKai TC', serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #475669 !important;
}

nav {
    font-family: 'LXGW WenKai TC', serif !important;
    font-size: 1rem !important;
}

h1 {
    color: rgba(205, 106, 94) !important;
    font-size: 1.5em !important;
}

h2 {
    color: rgba(230, 161, 73) !important;
    font-size: 1.35em !important;
}

h3 {
    color: rgba(127, 111, 134) !important;
    font-size: 1.20em !important;
}

h4 {
    color: rgba(86, 139, 187) !important;
    font-size: 1.10em !important;
}

h5 {
    color: rgba(204, 135, 90) !important;
    font-size: 1.05em !important;
}

h6 {
    color: #475669 !important;
    font-size: 1em !important;
    font-variant: small-caps !important;
}