@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

.bg-background {
    background-color: 252, 251, 250 !important;
}

article :not(a) {
    font-family: 'LXGW WenKai TC', sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #475669 !important;
}

h1 {
    color: 205, 106, 94 !important;
    font-size: 1.45em !important;
}

h2 {
    color: 230, 161, 73 !important;
    font-size: 1.3em !important;
}

h3 {
    color: 127, 111, 134 !important;
    font-size: 1.15em !important;
}

h4 {
    color: 86, 139, 187 !important;
    font-size: 1.05em !important;
}

h5 {
    color: 204, 135, 90 !important;
    font-size: 1em !important;
}

h6 {
    color: #475669 !important;
    font-size: 1em !important;
    font-variant: small-caps !important;
}

li {
    color: 205, 106, 94 !important;
}

link {
    color: 127, 111, 134 !important;
}

link :hover {
    color: rgba(127, 111, 134, 0.6) !important;
}

link :visited {
    color: 86, 139, 187 !important;
}

link :visited:hover {
    color: rgba(86, 139, 187, 0.6) !important;
    text-decoration: underline !important;
}